<div id='game'>

<div id="placeholder">
  <%if @error %>
    <div class="alert alert-error"><%=@error%></div>
  <% end %>
  <%if @success %>
    <div class="alert alert-success"><%=@success%></div>
  <% end %>
  <%if @tie %>
  <div class="alert"><%=@tie%></div>
  <% end %>


<% if @show_play_again_button %>
  <p id="playagain">
    <a href="/bet" class="btn btn-primary">Play again</a>
    <a href="/game_over" class="btn btn-warning">Exit</a>
  </p>
<% end %>
</div>
<!-- <h2>Welcome to Blackjack Game!</h2> -->



<div class="wrapper">
    <h4>Dealer's cards 
      <% if session[:turn] == "dealer" %>
        <span class="scores" >
          <%= calculate_total(session[:dealercards]) %>
        </span>
      <% end %>
    </h4>
  
    <% session[:dealercards].each_with_index do |card, i| %>

      <% if session[:turn] != "dealer" && i == 0 %>
        <img id="card" src="/images/cards/cover.jpg">
      <% else %>
        <img id="card" src=<%= "/images/cards/#{get_file_name(card)}"%> >   
      <% end %>

    <% end %>
  
  
  <% if @dealer_hit %>

    <form id="dealer_hit" action="/game/dealer/hit" method="post">
      <input type="submit" value="Click to see dealer's next card" class="btn btn-primary">
    </form>

  <% end %>

</div>
  

<div class="wrapper">  
  <h4>
    <%= session[:player_name] %>'s cards
    <% if @show_hit_or_stay_button %>
      <form id="hit" action="/game/player/hit" method="post">
        <input type="submit" value="hit" class="btn btn-success">
      </form>

      <form id="stay" action="/game/player/stay" method="post">
        <input type="submit" value="stay" class="btn btn-warning">
      </form>
    <% end %>

      <span class="scores" ><%= calculate_total(session[:playercards]) %></span>
  </h4>

  <% session[:playercards].each do |card| %>
    <img id="card" src=<%= "/images/cards/#{get_file_name(card)}"%> >
  <% end %>


</div>

</div>
